In [2]:
import pandas as pd
import os
from time import time
from IPython.display import display # Allows the use of display() for DataFrames

# Import supplementary visualization code visuals.py
#import visuals as vs

# Pretty display for notebooks
%matplotlib inline

### Setting files and directories

In [4]:
path_to_data= "/home/ubuntu/udacity/CodeGladiator/invesco/data"

transaction_file = "Code-Gladiators-Transaction.csv"
investment_exp_file = "Code-Gladiators-InvestmentExperience.csv"
aum_file = "Code-Gladiators-AUM.csv"
activity_file = "Code-Gladiators-Activity.csv"

test_file = "test_data.csv"

### reading csv files into pandas dataframe

In [5]:
transaction_df = pd.read_csv(os.path.join(path_to_data, transaction_file))
investment_exp_df = pd.read_csv(os.path.join(path_to_data, investment_exp_file))
aum_df = pd.read_csv(os.path.join(path_to_data, aum_file))
activity_df = pd.read_csv(os.path.join(path_to_data, activity_file))
test_df = pd.read_csv(os.path.join(path_to_data,test_file))

In [ ]:
test_df.head()

### processing data

Grouping data by unique advisor id and month. Final output will store sums of the assets under managements and shares for each advisor in particular month

In [6]:
grouped_advisor_aum_df = aum_df.groupby(['Unique_Advisor_Id','Month']).agg({'AUM': 'sum','Shares':'sum','Unique_Investment_Id':'count'}).reset_index().rename(columns={'Unique_Investment_Id':'Counts'})
grouped_advisor_aum_df.head()

   Unique_Advisor_Id      Month  Counts         Shares           AUM
0              12243  2016 / 01      44  109673.678500  1.461389e+06
1              12243  2016 / 02      44  106252.324833  1.414581e+06
2              12243  2016 / 03      44  103253.896694  1.426161e+06
3              12243  2016 / 04      44  100449.798917  1.414247e+06
4              12243  2016 / 05      44   91960.177528  1.241367e+06

Grouping data by unique investment vehicle id and month. Final output will store sums of the assets under managements and shares for each investment vehicle in particular month

In [5]:
grouped_investment_aum_df = aum_df.groupby(['Unique_Investment_Id','Month']).agg({'AUM': 'sum','Shares':'sum','Unique_Advisor_Id':'count'}).reset_index().rename(columns={'Unique_Advisor_Id':'Counts'})
grouped_investment_aum_df[grouped_investment_aum_df['Unique_Investment_Id'] == 3425].head()

     Unique_Investment_Id      Month  Counts        Shares            AUM
656                  3425  2016 / 01      36  28135.758333  515757.171333
657                  3425  2016 / 02      36  28135.758333  509040.019833
658                  3425  2016 / 03      36  27256.321667  540765.421500
659                  3425  2016 / 04      39  26081.948333  532694.127833
660                  3425  2016 / 05      38  12041.815000  247218.462500

Splitting Month column to take out month only for help in joining with different dataframes

In [6]:
grouped_investment_aum_df['Year'],grouped_investment_aum_df['Month']=grouped_investment_aum_df['Month'].str.split(' /', 1).str
grouped_advisor_aum_df['Year'],grouped_advisor_aum_df['Month']=grouped_advisor_aum_df['Month'].str.split(' /', 1).str

transaction_df['Year'],transaction_df['Month']=transaction_df['Month'].str.split(' /', 1).str
investment_exp_df['Year'],investment_exp_df['Month']=investment_exp_df['Month'].str.split(' /', 1).str
aum_df['Year'],aum_df['Month']=aum_df['Month'].str.split(' /', 1).str
activity_df['Year'],activity_df['Month']=activity_df['Month'].str.split(' /', 1).str

In [ ]:
transaction_df.head()

Incerementing each Month with 1 so corresponding row can be mapped with transactions. Current month transaction is result of previous month experience/AUM/Shares

In [7]:
grouped_investment_aum_df['Mapping_Month']= grouped_investment_aum_df['Month'].astype(int).apply(lambda x : x+1)
grouped_advisor_aum_df['Mapping_Month']= grouped_advisor_aum_df['Month'].astype(int).apply(lambda x : x+1)
investment_exp_df['Mapping_Month']= investment_exp_df['Month'].astype(int).apply(lambda x : x+1)
aum_df['Mapping_Month']= aum_df['Month'].astype(int).apply(lambda x : x+1)
activity_df['Mapping_Month']= activity_df['Month'].astype(int).apply(lambda x : x+1)


grouped_investment_aum_df.head()

,Unique_Investment_Id,Month,Counts,Shares,AUM,Year,Mapping_Month
0,74,01,3,376166.733333,376166.733333,2016,2
1,74,02,3,376166.733333,376166.733333,2016,3
2,74,03,3,376172.733333,376172.733333,2016,4
3,74,04,3,376175.733333,376175.733333,2016,5
4,74,05,3,376178.833333,376178.833333,2016,6

Converting month in transaction history to integer to ease in join operations

In [8]:
transaction_df['Month'] =  transaction_df['Month'].astype(int).apply(lambda x : x+0)

transaction_df.head()

,Unique_Advisor_Id,Unique_Investment_Id,Month,Transaction_Type,Code_1,Code_2,Code_3,Code_4,Code_5,Amount,Year
0,1000103,20058,1,P,1,48,1,7,4,4678.666667,2016
1,1000103,20058,1,P,1,48,1,7,4,353.066667,2016
2,1000103,20058,1,P,1,48,1,7,4,1809.626667,2016
3,1000103,20058,2,P,1,48,1,7,4,4678.666667,2016
4,1000103,20058,2,P,1,48,1,7,4,353.066667,2016

In [9]:
final_transaction = pd.merge(transaction_df, grouped_investment_aum_df, left_on=["Month","Unique_Investment_Id"],right_on=["Mapping_Month","Unique_Investment_Id"], how="left") 
final_transaction = final_transaction.rename(columns={'Month_x': 'Month', 'AUM': 'AUM_investor','Year_x' : 'Year', 'Counts' : 'Counts_investor', 'Shares': 'Shares_investor','Month_y':'Month_actual'})
final_transaction = final_transaction.drop('Year_y', 1)
final_transaction.head()

,Unique_Advisor_Id,Unique_Investment_Id,Month,Transaction_Type,Code_1,Code_2,Code_3,Code_4,Code_5,Amount,Year,Month_actual,Counts_investor,Shares_investor,AUM_investor,Mapping_Month
0,1000103,20058,1,P,1,48,1,7,4,4678.666667,2016,NaN,NaN,NaN,NaN,NaN
1,1000103,20058,1,P,1,48,1,7,4,353.066667,2016,NaN,NaN,NaN,NaN,NaN
2,1000103,20058,1,P,1,48,1,7,4,1809.626667,2016,NaN,NaN,NaN,NaN,NaN
3,1000103,20058,2,P,1,48,1,7,4,4678.666667,2016,01,2.0,132979.907,1.339674e+06,2.0
4,1000103,20058,2,P,1,48,1,7,4,353.066667,2016,01,2.0,132979.907,1.339674e+06,2.0

In [10]:
test_transaction = pd.merge(test_df, grouped_investment_aum_df[grouped_investment_aum_df["Mapping_Month"]== 13], on="Unique_Investment_Id", how="left")
test_transaction = test_transaction.rename(columns={ 'AUM': 'AUM_investor','Counts' : 'Counts_investor', 'Shares': 'Shares_investor'})

test_transaction.shape

(8714, 8)

In [11]:
final_transaction = pd.merge(final_transaction, grouped_advisor_aum_df, left_on=["Month","Unique_Advisor_Id"],right_on=["Mapping_Month","Unique_Advisor_Id"], how="left") 
final_transaction = final_transaction.rename(columns={'Month_x': 'Month', 'AUM': 'AUM_advisor','Year_x' : 'Year', 'Counts' : 'Counts_advisor', 'Shares': 'Shares_advisor','Mapping_Month_x': 'Mapping_Month'})
final_transaction = final_transaction.drop(['Year_y','Mapping_Month_y','Month_y'], 1)

final_transaction.head()

,Unique_Advisor_Id,Unique_Investment_Id,Month,Transaction_Type,Code_1,Code_2,Code_3,Code_4,Code_5,Amount,Year,Month_actual,Counts_investor,Shares_investor,AUM_investor,Mapping_Month,Counts_advisor,Shares_advisor,AUM_advisor
0,1000103,20058,1,P,1,48,1,7,4,4678.666667,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000103,20058,1,P,1,48,1,7,4,353.066667,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000103,20058,1,P,1,48,1,7,4,1809.626667,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000103,20058,2,P,1,48,1,7,4,4678.666667,2016,01,2.0,132979.907,1.339674e+06,2.0,6.0,13536.409,245350.665667
4,1000103,20058,2,P,1,48,1,7,4,353.066667,2016,01,2.0,132979.907,1.339674e+06,2.0,6.0,13536.409,245350.665667

In [12]:
test_transaction = pd.merge(test_transaction, grouped_advisor_aum_df[grouped_advisor_aum_df["Mapping_Month"]== 13], on="Unique_Advisor_Id", how="left")

test_transaction = test_transaction.rename(columns={ 'AUM': 'AUM_advisor','Counts' : 'Counts_advisor', 'Shares': 'Shares_advisor','Month_x':'Month','Mapping_Month_x':'Mapping_Month'})
test_transaction = test_transaction.drop(['Year_x','Year_y','Mapping_Month_y','Month_y','Mapping_Month'], 1)

test_transaction.shape

(8714, 9)

In [13]:
print(investment_exp_df.shape)
investment_exp_df= investment_exp_df[investment_exp_df['Year']=='2016']
investment_exp_df.shape

(14208, 24)

(7104, 24)

In [14]:
final_transaction_with_exp = pd.merge(final_transaction, investment_exp_df, left_on=["Month","Unique_Investment_Id"],right_on=["Mapping_Month","Unique_Investment_Id"], how="left") 
final_transaction_with_exp = final_transaction_with_exp.rename(columns={'Month_x': 'Month', 'AUM': 'AUM_advisor','Year_x' : 'Year', 'Mapping_Month_x':'Mapping_Month'})
final_transaction_with_exp = final_transaction_with_exp.drop(['Year_y','Mapping_Month_y','Month_y'], 1)

final_transaction_with_exp.head()

,Unique_Advisor_Id,Unique_Investment_Id,Month,Transaction_Type,Code_1,Code_2,Code_3,Code_4,Code_5,Amount,...,10 Yr Return,1 Yr Excess Return vs Primary Ix,3 Yr Excess Return vs Primary Ix,5 Yr Excess Return vs Primary Ix,10 Yr Excess Return vs Primary Ix,1 Yr Excess Return vs Category Ix,3 Yr Excess Return vs Category Ix,5 Yr Excess Return vs Category Ix,10 Yr Excess Return vs Category Ix,Net Flows
0,1000103,20058,1,P,1,48,1,7,4,4678.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000103,20058,1,P,1,48,1,7,4,353.066667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000103,20058,1,P,1,48,1,7,4,1809.626667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000103,20058,2,P,1,48,1,7,4,4678.666667,...,NaN,-15.184451,-9.429957,NaN,NaN,-10.850458,-6.919882,NaN,NaN,-1.618909e+09
4,1000103,20058,2,P,1,48,1,7,4,353.066667,...,NaN,-15.184451,-9.429957,NaN,NaN,-10.850458,-6.919882,NaN,NaN,-1.618909e+09

In [15]:
final_transaction_with_exp.columns.values.tolist()

['Unique_Advisor_Id',
 'Unique_Investment_Id',
 'Month',
 'Transaction_Type',
 'Code_1',
 'Code_2',
 'Code_3',
 'Code_4',
 'Code_5',
 'Amount',
 'Year',
 'Month_actual',
 'Counts_investor',
 'Shares_investor',
 'AUM_investor',
 'Mapping_Month',
 'Counts_advisor',
 'Shares_advisor',
 'AUM_advisor',
 'Morningstar Category',
 'Investment',
 'Rating',
 '1 Yr % Rank',
 '3 Yr % Rank',
 '5 Yr % Rank',
 '10 Yr % Rank',
 '1 Yr Return',
 '3 Yr Return',
 '5 Yr Return',
 '10 Yr Return',
 '1 Yr Excess Return vs Primary Ix',
 '3 Yr Excess Return vs Primary Ix',
 '5 Yr Excess Return vs Primary Ix',
 '10 Yr Excess Return vs Primary Ix',
 '1 Yr Excess Return vs Category Ix',
 '3 Yr Excess Return vs Category Ix',
 '5 Yr Excess Return vs Category Ix',
 '10 Yr Excess Return vs Category Ix',
 'Net Flows']

In [16]:
test_transaction_with_exp = pd.merge(test_transaction, investment_exp_df[investment_exp_df["Mapping_Month"]== 13 ], on="Unique_Investment_Id", how="left")

test_transaction_with_exp.shape

(8714, 32)

In [17]:
test_transaction_with_exp.columns.values.tolist()

['Unique_Advisor_Id',
 'Unique_Investment_Id',
 'Month_x',
 'Counts_investor',
 'Shares_investor',
 'AUM_investor',
 'Counts_advisor',
 'Shares_advisor',
 'AUM_advisor',
 'Morningstar Category',
 'Month_y',
 'Investment',
 'Rating',
 '1 Yr % Rank',
 '3 Yr % Rank',
 '5 Yr % Rank',
 '10 Yr % Rank',
 '1 Yr Return',
 '3 Yr Return',
 '5 Yr Return',
 '10 Yr Return',
 '1 Yr Excess Return vs Primary Ix',
 '3 Yr Excess Return vs Primary Ix',
 '5 Yr Excess Return vs Primary Ix',
 '10 Yr Excess Return vs Primary Ix',
 '1 Yr Excess Return vs Category Ix',
 '3 Yr Excess Return vs Category Ix',
 '5 Yr Excess Return vs Category Ix',
 '10 Yr Excess Return vs Category Ix',
 'Net Flows',
 'Year',
 'Mapping_Month']

In [18]:
required_train_df = final_transaction_with_exp.filter(['AUM_investor','Counts_investor','Shares_investor','AUM_advisor','Shares_advisor','Rating','1 Yr % Rank','3 Yr % Rank','1 Yr Return','3 Yr Return','1 Yr Excess Return vs Primary Ix','3 Yr Excess Return vs Primary Ix','1 Yr Excess Return vs Category Ix','3 Yr Excess Return vs Category Ix','Net Flows','Transaction_Type'])


print(required_train_df[required_train_df['AUM_investor'].isnull()])

        AUM_investor  Counts_investor  Shares_investor    AUM_advisor  \
0                NaN              NaN              NaN            NaN
1                NaN              NaN              NaN            NaN
2                NaN              NaN              NaN            NaN
58               NaN              NaN              NaN            NaN
59               NaN              NaN              NaN            NaN
60               NaN              NaN              NaN            NaN
61               NaN              NaN              NaN            NaN
62               NaN              NaN              NaN            NaN
94               NaN              NaN              NaN            NaN
95               NaN              NaN              NaN            NaN
96               NaN              NaN              NaN            NaN
132              NaN              NaN              NaN            NaN
133              NaN              NaN              NaN            NaN
134              NaN              NaN              NaN            NaN
137              NaN              NaN              NaN            NaN
145              NaN              NaN              NaN            NaN
146              NaN              NaN              NaN            NaN
147              NaN              NaN              NaN            NaN
148              NaN              NaN              NaN            NaN
149              NaN              NaN              NaN            NaN
150              NaN              NaN              NaN            NaN
160              NaN              NaN              NaN            NaN
182              NaN              NaN              NaN            NaN
255              NaN              NaN              NaN            NaN
276              NaN              NaN              NaN            NaN
282              NaN              NaN              NaN            NaN
316              NaN              NaN              NaN            NaN
317              NaN              NaN              NaN            NaN
359              NaN              NaN              NaN            NaN
360              NaN              NaN              NaN            NaN
...              ...              ...              ...            ...
163608           NaN              NaN              NaN  150099.619167
163609           NaN              NaN              NaN  150099.619167
163610           NaN              NaN              NaN  150099.619167
163611           NaN              NaN              NaN  150099.619167
163612           NaN              NaN              NaN  150099.619167
163619           NaN              NaN              NaN  152039.810417
163620           NaN              NaN              NaN  152039.810417
163621           NaN              NaN              NaN  152039.810417
163622           NaN              NaN              NaN  152039.810417
163623           NaN              NaN              NaN  152039.810417
163624           NaN              NaN              NaN  152039.810417
163625           NaN              NaN              NaN  152039.810417
163626           NaN              NaN              NaN  152039.810417
163627           NaN              NaN              NaN  152039.810417
163628           NaN              NaN              NaN  152039.810417
163629           NaN              NaN              NaN  152039.810417
163630           NaN              NaN              NaN  152039.810417
163640           NaN              NaN              NaN  151948.707833
163641           NaN              NaN              NaN  151948.707833
163642           NaN              NaN              NaN  151948.707833
163643           NaN              NaN              NaN  151948.707833
163644           NaN              NaN              NaN  151948.707833
163645           NaN              NaN              NaN  151948.707833
163673           NaN              NaN              NaN  174483.109583
163674           NaN              NaN              NaN  174483.109583
163675           NaN              NaN              NaN  174483.109583
163676           NaN              NaN              NaN  174483.109583
163677           NaN              NaN              NaN  174483.109583
163702           NaN              NaN              NaN            NaN
163715           NaN              NaN              NaN            NaN

        Shares_advisor  Rating  1 Yr % Rank  3 Yr % Rank  1 Yr Return  \
0                  NaN     NaN          NaN          NaN          NaN
1                  NaN     NaN          NaN          NaN          NaN
2                  NaN     NaN          NaN          NaN          NaN
58                 NaN     NaN          NaN          NaN          NaN
59                 NaN     NaN          NaN          NaN          NaN
60                 NaN     NaN          NaN          NaN          NaN
61                 NaN     NaN          NaN          NaN          NaN
62                 NaN     NaN          NaN          NaN          NaN
94                 NaN     NaN          NaN          NaN          NaN
95                 NaN     NaN          NaN          NaN          NaN
96                 NaN     NaN          NaN          NaN          NaN
132                NaN     NaN          NaN          NaN          NaN
133                NaN     NaN          NaN          NaN          NaN
134                NaN     NaN          NaN          NaN          NaN
137                NaN     NaN          NaN          NaN          NaN
145                NaN     NaN          NaN          NaN          NaN
146                NaN     NaN          NaN          NaN          NaN
147                NaN     NaN          NaN          NaN          NaN
148                NaN     NaN          NaN          NaN          NaN
149                NaN     NaN          NaN          NaN          NaN
150                NaN     NaN          NaN          NaN          NaN
160                NaN     NaN          NaN          NaN          NaN
182                NaN     NaN          NaN          NaN          NaN
255                NaN     NaN          NaN          NaN          NaN
276                NaN     NaN          NaN          NaN          NaN
282                NaN     NaN          NaN          NaN          NaN
316                NaN     NaN          NaN          NaN          NaN
317                NaN     NaN          NaN          NaN          NaN
359                NaN     NaN          NaN          NaN          NaN
360                NaN     NaN          NaN          NaN          NaN
...                ...     ...          ...          ...          ...
163608    32540.951667     NaN          NaN          NaN          NaN
163609    32540.951667     NaN          NaN          NaN          NaN
163610    32540.951667     NaN          NaN          NaN          NaN
163611    32540.951667     NaN          NaN          NaN          NaN
163612    32540.951667     NaN          NaN          NaN          NaN
163619    32606.287500     NaN          NaN          NaN          NaN
163620    32606.287500     NaN          NaN          NaN          NaN
163621    32606.287500     NaN          NaN          NaN          NaN
163622    32606.287500     NaN          NaN          NaN          NaN
163623    32606.287500     NaN          NaN          NaN          NaN
163624    32606.287500     NaN          NaN          NaN          NaN
163625    32606.287500     NaN          NaN          NaN          NaN
163626    32606.287500     NaN          NaN          NaN          NaN
163627    32606.287500     NaN          NaN          NaN          NaN
163628    32606.287500     NaN          NaN          NaN          NaN
163629    32606.287500     NaN          NaN          NaN          NaN
163630    32606.287500     NaN          NaN          NaN          NaN
163640    32792.156667     NaN          NaN          NaN          NaN
163641    32792.156667     NaN          NaN          NaN          NaN
163642    32792.156667     NaN          NaN          NaN          NaN
163643    32792.156667     NaN          NaN          NaN          NaN
163644    32792.156667     NaN          NaN          NaN          NaN
163645    32792.156667     NaN          NaN          NaN          NaN
163673    34563.685833     NaN          NaN          NaN          NaN
163674    34563.685833     NaN          NaN          NaN          NaN
163675    34563.685833     NaN          NaN          NaN          NaN
163676    34563.685833     NaN          NaN          NaN          NaN
163677    34563.685833     NaN          NaN          NaN          NaN
163702             NaN     NaN          NaN          NaN          NaN
163715             NaN     NaN          NaN          NaN          NaN

        3 Yr Return  1 Yr Excess Return vs Primary Ix  \
0               NaN                               NaN
1               NaN                               NaN
2               NaN                               NaN
58              NaN                               NaN
59              NaN                               NaN
60              NaN                               NaN
61              NaN                               NaN
62              NaN                               NaN
94              NaN                               NaN
95              NaN                               NaN
96              NaN                               NaN
132             NaN                               NaN
133             NaN                               NaN
134             NaN                               NaN
137             NaN                               NaN
145             NaN                               NaN
146             NaN                               NaN
147             NaN                               NaN
148             NaN                               NaN
149             NaN                               NaN
150             NaN                               NaN
160             NaN                               NaN
182             NaN                               NaN
255             NaN                               NaN
276             NaN                               NaN
282             NaN                               NaN
316             NaN                               NaN
317             NaN                               NaN
359             NaN                               NaN
360             NaN                               NaN
...             ...                               ...
163608          NaN                               NaN
163609          NaN                               NaN
163610          NaN                               NaN
163611          NaN                               NaN
163612          NaN                               NaN
163619          NaN                               NaN
163620          NaN                               NaN
163621          NaN                               NaN
163622          NaN                               NaN
163623          NaN                               NaN
163624          NaN                               NaN
163625          NaN                               NaN
163626          NaN                               NaN
163627          NaN                               NaN
163628          NaN                               NaN
163629          NaN                               NaN
163630          NaN                               NaN
163640          NaN                               NaN
163641          NaN                               NaN
163642          NaN                               NaN
163643          NaN                               NaN
163644          NaN                               NaN
163645          NaN                               NaN
163673          NaN                               NaN
163674          NaN                               NaN
163675          NaN                               NaN
163676          NaN                               NaN
163677          NaN                               NaN
163702          NaN                               NaN
163715          NaN                               NaN

        3 Yr Excess Return vs Primary Ix  1 Yr Excess Return vs Category Ix  \
0                                    NaN                                NaN
1                                    NaN                                NaN
2                                    NaN                                NaN
58                                   NaN                                NaN
59                                   NaN                                NaN
60                                   NaN                                NaN
61                                   NaN                                NaN
62                                   NaN                                NaN
94                                   NaN                                NaN
95                                   NaN                                NaN
96                                   NaN                                NaN
132                                  NaN                                NaN
133                                  NaN                                NaN
134                                  NaN                                NaN
137                                  NaN                                NaN
145                                  NaN                                NaN
146                                  NaN                                NaN
147                                  NaN                                NaN
148                                  NaN                                NaN
149                                  NaN                                NaN
150                                  NaN                                NaN
160                                  NaN                                NaN
182                                  NaN                                NaN
255                                  NaN                                NaN
276                                  NaN                                NaN
282                                  NaN                                NaN
316                                  NaN                                NaN
317                                  NaN                                NaN
359                                  NaN                                NaN
360                                  NaN                                NaN
...                                  ...                                ...
163608                               NaN                                NaN
163609                               NaN                                NaN
163610                               NaN                                NaN
163611                               NaN                                NaN
163612                               NaN                                NaN
163619                               NaN                                NaN
163620                               NaN                                NaN
163621                               NaN                                NaN
163622                               NaN                                NaN
163623                               NaN                                NaN
163624                               NaN                                NaN
163625                               NaN                                NaN
163626                               NaN                                NaN
163627                               NaN                                NaN
163628                               NaN                                NaN
163629                               NaN                                NaN
163630                               NaN                                NaN
163640                               NaN                                NaN
163641                               NaN                                NaN
163642                               NaN                                NaN
163643                               NaN                                NaN
163644                               NaN                                NaN
163645                               NaN                                NaN
163673                               NaN                                NaN
163674                               NaN                                NaN
163675                               NaN                                NaN
163676                               NaN                                NaN
163677                               NaN                                NaN
163702                               NaN                                NaN
163715                               NaN                                NaN

        3 Yr Excess Return vs Category Ix  Net Flows Transaction_Type
0                                     NaN        NaN                P
1                                     NaN        NaN                P
2                                     NaN        NaN                P
58                                    NaN        NaN                R
59                                    NaN        NaN                R
60                                    NaN        NaN                R
61                                    NaN        NaN                R
62                                    NaN        NaN                P
94                                    NaN        NaN                R
95                                    NaN        NaN                P
96                                    NaN        NaN                R
132                                   NaN        NaN                R
133                                   NaN        NaN                P
134                                   NaN        NaN                P
137                                   NaN        NaN                P
145                                   NaN        NaN                P
146                                   NaN        NaN                P
147                                   NaN        NaN                P
148                                   NaN        NaN                P
149                                   NaN        NaN                P
150                                   NaN        NaN                P
160                                   NaN        NaN                R
182                                   NaN        NaN                R
255                                   NaN        NaN                R
276                                   NaN        NaN                R
282                                   NaN        NaN                P
316                                   NaN        NaN                P
317                                   NaN        NaN                R
359                                   NaN        NaN                P
360                                   NaN        NaN                R
...                                   ...        ...              ...
163608                                NaN        NaN                P
163609                                NaN        NaN                P
163610                                NaN        NaN                P
163611                                NaN        NaN                P
163612                                NaN        NaN                P
163619                                NaN        NaN                P
163620                                NaN        NaN                P
163621                                NaN        NaN                P
163622                                NaN        NaN                P
163623                                NaN        NaN                P
163624                                NaN        NaN                P
163625                                NaN        NaN                P
163626                                NaN        NaN                P
163627                                NaN        NaN                P

In [19]:
required_test_df = test_transaction_with_exp.filter(['AUM_investor','Counts_investor','Shares_investor','AUM_advisor','Shares_advisor','Rating','1 Yr % Rank','3 Yr % Rank','1 Yr Return','3 Yr Return','1 Yr Excess Return vs Primary Ix','3 Yr Excess Return vs Primary Ix','1 Yr Excess Return vs Category Ix','3 Yr Excess Return vs Category Ix','Net Flows'])


print(required_test_df[required_test_df['AUM_investor'].isnull()])

required_test_df=required_test_df.fillna(0)
required_test_df.shape

      AUM_investor  Counts_investor  Shares_investor   AUM_advisor  \
9              NaN              NaN              NaN           NaN
107            NaN              NaN              NaN  7.324585e+06
125            NaN              NaN              NaN  1.045836e+06
128            NaN              NaN              NaN  1.045836e+06
279            NaN              NaN              NaN  2.193472e+05
280            NaN              NaN              NaN  2.193472e+05
281            NaN              NaN              NaN  2.193472e+05
289            NaN              NaN              NaN           NaN
421            NaN              NaN              NaN           NaN
422            NaN              NaN              NaN           NaN
425            NaN              NaN              NaN           NaN
427            NaN              NaN              NaN  4.026281e+06
428            NaN              NaN              NaN  4.026281e+06
429            NaN              NaN              NaN  4.026281e+06
489            NaN              NaN              NaN  3.932395e+06
490            NaN              NaN              NaN  3.932395e+06
499            NaN              NaN              NaN  2.389894e+05
500            NaN              NaN              NaN  2.389894e+05
532            NaN              NaN              NaN  2.390092e+05
542            NaN              NaN              NaN  2.995215e+04
543            NaN              NaN              NaN  2.995215e+04
544            NaN              NaN              NaN  2.995215e+04
561            NaN              NaN              NaN  1.783118e+06
568            NaN              NaN              NaN  3.087978e+06
632            NaN              NaN              NaN  5.137517e+05
718            NaN              NaN              NaN  1.859583e+07
719            NaN              NaN              NaN  1.859583e+07
724            NaN              NaN              NaN  1.859583e+07
725            NaN              NaN              NaN  1.859583e+07
791            NaN              NaN              NaN  9.297799e+05
...            ...              ...              ...           ...
7960           NaN              NaN              NaN  4.519147e+05
7971           NaN              NaN              NaN           NaN
8103           NaN              NaN              NaN  4.995586e+06
8106           NaN              NaN              NaN  1.525201e+06
8107           NaN              NaN              NaN  1.525201e+06
8110           NaN              NaN              NaN  1.525201e+06
8167           NaN              NaN              NaN           NaN
8168           NaN              NaN              NaN           NaN
8253           NaN              NaN              NaN           NaN
8303           NaN              NaN              NaN  6.651790e+05
8410           NaN              NaN              NaN           NaN
8411           NaN              NaN              NaN           NaN
8415           NaN              NaN              NaN           NaN
8419           NaN              NaN              NaN  4.185414e+04
8429           NaN              NaN              NaN  5.088538e+06
8437           NaN              NaN              NaN  2.493649e+05
8457           NaN              NaN              NaN  5.511132e+06
8458           NaN              NaN              NaN  5.511132e+06
8459           NaN              NaN              NaN  5.511132e+06
8475           NaN              NaN              NaN  7.871263e+06
8482           NaN              NaN              NaN  7.871263e+06
8483           NaN              NaN              NaN  7.871263e+06
8484           NaN              NaN              NaN  7.871263e+06
8485           NaN              NaN              NaN  7.871263e+06
8698           NaN              NaN              NaN  2.449202e+05
8701           NaN              NaN              NaN  2.449202e+05
8702           NaN              NaN              NaN  2.449202e+05
8707           NaN              NaN              NaN  2.449202e+05
8708           NaN              NaN              NaN  2.449202e+05
8709           NaN              NaN              NaN  2.449202e+05

      Shares_advisor  Rating  1 Yr % Rank  3 Yr % Rank  1 Yr Return  \
9                NaN     NaN          NaN          NaN          NaN
107     3.410473e+05     2.0         63.0         83.0    16.147575
125     8.490556e+04     NaN          NaN          NaN          NaN
128     8.490556e+04     NaN          NaN          NaN          NaN
279     1.550298e+04     NaN          NaN          NaN          NaN
280     1.550298e+04     NaN          NaN          NaN          NaN
281     1.550298e+04     NaN          NaN          NaN          NaN
289              NaN     4.0         49.0         45.0     2.064794
421              NaN     NaN          NaN          NaN          NaN
422              NaN     NaN          NaN          NaN          NaN
425              NaN     NaN          NaN          NaN          NaN
427     2.146671e+05     NaN          NaN          NaN          NaN
428     2.146671e+05     NaN          NaN          NaN          NaN
429     2.146671e+05     NaN          NaN          NaN          NaN
489     1.934435e+05     NaN          NaN          NaN          NaN
490     1.934435e+05     NaN          NaN          NaN          NaN
499     9.266067e+03     NaN          NaN          NaN          NaN
500     9.266067e+03     NaN          NaN          NaN          NaN
532     9.150065e+03     NaN          NaN          NaN          NaN
542     1.731338e+03     NaN          NaN          NaN          NaN
543     1.731338e+03     NaN          NaN          NaN          NaN
544     1.731338e+03     NaN          NaN          NaN          NaN
561     1.305006e+05     NaN          NaN          NaN          NaN
568     2.598196e+05     NaN          NaN          NaN          NaN
632     4.145421e+04     NaN          NaN          NaN          NaN
718     1.127932e+06     NaN          NaN          NaN          NaN
719     1.127932e+06     NaN          NaN          NaN          NaN
724     1.127932e+06     NaN          NaN          NaN          NaN
725     1.127932e+06     NaN          NaN          NaN          NaN
791     7.437166e+04     NaN          NaN          NaN          NaN
...              ...     ...          ...          ...          ...
7960    3.712105e+04     NaN          NaN          NaN          NaN
7971             NaN     4.0         49.0         62.0     6.184451
8103    2.848466e+05     NaN          NaN          NaN          NaN
8106    9.091749e+04     NaN          NaN          NaN          NaN
8107    9.091749e+04     NaN          NaN          NaN          NaN
8110    9.091749e+04     NaN          NaN          NaN          NaN
8167             NaN     4.0         49.0         45.0     2.064794
8168             NaN     3.0         94.0         87.0    12.215585
8253             NaN     4.0         49.0         45.0     2.064794
8303    4.049543e+04     NaN          NaN          NaN          NaN
8410             NaN     NaN          NaN          NaN          NaN
8411             NaN     NaN          NaN          NaN          NaN
8415             NaN     NaN          NaN          NaN          NaN
8419    1.245288e+03     NaN          NaN          NaN          NaN
8429    4.227613e+05     NaN          NaN          NaN          NaN
8437    1.543574e+04     NaN          NaN          NaN          NaN
8457    2.848070e+05     NaN          NaN          NaN          NaN
8458    2.848070e+05     NaN          NaN          NaN          NaN
8459    2.848070e+05     NaN          NaN          NaN          NaN
8475    3.484147e+05     NaN          NaN          NaN          NaN
8482    3.484147e+05     NaN          NaN          NaN          NaN
8483    3.484147e+05     NaN          NaN          NaN          NaN
8484    3.484147e+05     NaN          NaN          NaN          NaN
8485    3.484147e+05     NaN          NaN          NaN          NaN
8698    3.957040e+04     NaN          NaN          NaN          NaN
8701    3.957040e+04     NaN          NaN          NaN          NaN
8702    3.957040e+04     NaN          NaN          NaN          NaN
8707    3.957040e+04     NaN          NaN          NaN          NaN
8708    3.957040e+04     NaN          NaN          NaN          NaN
8709    3.957040e+04     NaN          NaN          NaN          NaN

      3 Yr Return  1 Yr Excess Return vs Primary Ix  \
9             NaN                               NaN
107      5.236259                         -3.849855
125           NaN                               NaN
128           NaN                               NaN
279           NaN                               NaN
280           NaN                               NaN
281           NaN                               NaN
289      5.033105                         -5.445704
421           NaN                               NaN
422           NaN                               NaN
425           NaN                               NaN
427           NaN                               NaN
428           NaN                               NaN
429           NaN                               NaN
489           NaN                               NaN
490           NaN                               NaN
499           NaN                               NaN
500           NaN                               NaN
532           NaN                               NaN
542           NaN                               NaN
543           NaN                               NaN
544           NaN                               NaN
561           NaN                               NaN
568           NaN                               NaN
632           NaN                               NaN
718           NaN                               NaN
719           NaN                               NaN
724           NaN                               NaN
725           NaN                               NaN
791           NaN                               NaN
...           ...                               ...
7960          NaN                               NaN
7971    11.708498                         -2.444772
8103          NaN                               NaN
8106          NaN                               NaN
8107          NaN                               NaN
8110          NaN                               NaN
8167     5.033105                         -5.445704
8168     2.951917                          0.255663
8253     5.033105                         -5.445704
8303          NaN                               NaN
8410          NaN                               NaN
8411          NaN                               NaN
8415          NaN                               NaN
8419          NaN                               NaN
8429          NaN                               NaN
8437          NaN                               NaN
8457          NaN                               NaN
8458          NaN                               NaN
8459          NaN                               NaN
8475          NaN                               NaN
8482          NaN                               NaN
8483          NaN                               NaN
8484          NaN                               NaN
8485          NaN                               NaN
8698          NaN                               NaN
8701          NaN                               NaN
8702          NaN                               NaN
8707          NaN                               NaN
8708          NaN                               NaN
8709          NaN                               NaN

      3 Yr Excess Return vs Primary Ix  1 Yr Excess Return vs Category Ix  \
9                                  NaN                                NaN
107                          -4.214177                          -3.849855
125                                NaN                                NaN
128                                NaN                                NaN
279                                NaN                                NaN
280                                NaN                                NaN
281                                NaN                                NaN
289                           1.234185                          -4.837932
421                                NaN                                NaN
422                                NaN                                NaN
425                                NaN                                NaN
427                                NaN                                NaN
428                                NaN                                NaN
429                                NaN                                NaN
489                                NaN                                NaN
490                                NaN                                NaN
499                                NaN                                NaN
500                                NaN                                NaN
532                                NaN                                NaN
542                                NaN                                NaN
543                                NaN                                NaN
544                                NaN                                NaN
561                                NaN                                NaN
568                                NaN                                NaN
632                                NaN                                NaN
718                                NaN                                NaN
719                                NaN                                NaN
724                                NaN                                NaN
725                                NaN                                NaN
791                                NaN                                NaN
...                                ...                                ...
7960                               NaN                                NaN
7971                         -0.955030                          -2.307991
8103                               NaN                                NaN
8106                               NaN                                NaN
8107                               NaN                                NaN
8110                               NaN                                NaN
8167                          1.234185                          -4.837932
8168                         -5.920027                          -9.092409
8253                          1.234185                          -4.837932
8303                               NaN                                NaN
8410                               NaN                                NaN
8411                               NaN                                NaN
8415                               NaN                                NaN
8419                               NaN                                NaN
8429                               NaN                                NaN
8437                               NaN                                NaN
8457                               NaN                                NaN
8458                               NaN                                NaN
8459                               NaN                                NaN
8475                               NaN                                NaN
8482                               NaN                                NaN
8483                               NaN                                NaN
8484                               NaN                                NaN
8485                               NaN                                NaN
8698                               NaN                                NaN
8701                               NaN                                NaN
8702                               NaN                                NaN
8707                               NaN                                NaN
8708                               NaN                                NaN
8709                               NaN                                NaN

      3 Yr Excess Return vs Category Ix    Net Flows
9                                   NaN          NaN
107                           -4.214177 -104451019.0
125                                 NaN          NaN
128                                 NaN          NaN
279                                 NaN          NaN
280                                 NaN          NaN
281                                 NaN          NaN
289                           -4.679479 -280108975.0
421                                 NaN          NaN
422                                 NaN          NaN
425                                 NaN          NaN
427                                 NaN          NaN
428                                 NaN          NaN
429                                 NaN          NaN
489                                 NaN          NaN
490                                 NaN          NaN
499                                 NaN          NaN
500                                 NaN          NaN
532                                 NaN          NaN
542                                 NaN          NaN
543                                 NaN          NaN
544                                 NaN          NaN
561                                 NaN          NaN
568                                 NaN          NaN
632                                 NaN          NaN
718                                 NaN          NaN
719                                 NaN          NaN
724                                 NaN          NaN
725                                 NaN          NaN
791                                 NaN          NaN
...                                 ...          ...
7960                                NaN          NaN
7971                          -1.455780 -334003596.0
8103                                NaN          NaN
8106                                NaN          NaN
8107                                NaN          NaN
8110                                NaN          NaN
8167                          -4.679479 -280108975.0
8168                          -3.792490  229995626.0
8253                          -4.679479 -280108975.0
8303                                NaN          NaN
8410                                NaN          NaN
8411                                NaN          NaN
8415                                NaN          NaN
8419                                NaN          NaN
8429                                NaN          NaN
8437                                NaN          NaN
8457                                NaN          NaN
8458                                NaN          NaN
8459                                NaN          NaN
8475                                NaN          NaN
8482                                NaN          NaN
8483                                NaN          NaN
8484                                NaN          NaN
8485                                NaN          NaN
8698                                NaN          NaN
8701                                NaN          NaN
8702                                NaN          NaN
8707                                NaN          NaN
8708                                NaN          NaN
8709                                NaN          NaN

[353 rows x 15 columns]

(8714, 15)

In [20]:

print(required_test_df[required_test_df['AUM_investor'].isnull()])

Empty DataFrame
Columns: [AUM_investor, Counts_investor, Shares_investor, AUM_advisor, Shares_advisor, Rating, 1 Yr % Rank, 3 Yr % Rank, 1 Yr Return, 3 Yr Return, 1 Yr Excess Return vs Primary Ix, 3 Yr Excess Return vs Primary Ix, 1 Yr Excess Return vs Category Ix, 3 Yr Excess Return vs Category Ix, Net Flows]
Index: []

In [21]:
print(required_train_df.shape)

required_train_df= required_train_df.fillna(0)
#required_train_df=required_train_df.dropna()
print(required_train_df.shape)

required_train_df.head()

(163722, 16)
(163722, 16)

,AUM_investor,Counts_investor,Shares_investor,AUM_advisor,Shares_advisor,Rating,1 Yr % Rank,3 Yr % Rank,1 Yr Return,3 Yr Return,1 Yr Excess Return vs Primary Ix,3 Yr Excess Return vs Primary Ix,1 Yr Excess Return vs Category Ix,3 Yr Excess Return vs Category Ix,Net Flows,Transaction_Type
0,0.000000e+00,0.0,0.000,0.000000,0.000,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,P
1,0.000000e+00,0.0,0.000,0.000000,0.000,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,P
2,0.000000e+00,0.0,0.000,0.000000,0.000,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,P
3,1.339674e+06,2.0,132979.907,245350.665667,13536.409,1.0,99.0,98.0,-15.84976,1.871172,-15.184451,-9.429957,-10.850458,-6.919882,-1.618909e+09,P
4,1.339674e+06,2.0,132979.907,245350.665667,13536.409,1.0,99.0,98.0,-15.84976,1.871172,-15.184451,-9.429957,-10.850458,-6.919882,-1.618909e+09,P

In [22]:
print(required_test_df.shape)

required_test_df=required_test_df.dropna()
print(required_test_df.shape)

required_test_df.head()

(8714, 15)
(8714, 15)

,AUM_investor,Counts_investor,Shares_investor,AUM_advisor,Shares_advisor,Rating,1 Yr % Rank,3 Yr % Rank,1 Yr Return,3 Yr Return,1 Yr Excess Return vs Primary Ix,3 Yr Excess Return vs Primary Ix,1 Yr Excess Return vs Category Ix,3 Yr Excess Return vs Category Ix,Net Flows
0,1.292150e+08,621.0,6.688148e+06,202376.243875,23488.55675,5.0,47.0,6.0,14.605280,9.499912,2.645357,0.627968,-2.735172,0.914585,-2.289336e+09
1,4.000243e+06,32.0,1.272555e+05,202376.243875,23488.55675,3.0,21.0,67.0,17.536525,6.275912,0.196073,-2.309415,0.196073,-2.309415,-2.289336e+09
2,2.017696e+06,16.0,6.751248e+04,202376.243875,23488.55675,3.0,43.0,42.0,-1.120740,-1.447993,-5.615860,0.327666,-1.245520,-0.182217,-1.486395e+09
3,3.538402e+07,170.0,2.638633e+06,202376.243875,23488.55675,5.0,2.0,3.0,8.946499,2.905355,9.349074,6.076022,9.349074,6.076022,-5.217505e+08
4,1.498600e+06,33.0,3.725922e+04,202376.243875,23488.55675,4.0,46.0,31.0,11.020021,5.298992,-0.939901,-3.572952,-0.298074,0.247737,-9.002591e+08

In [23]:
# Split the data into features and target label
transaction_type = required_train_df['Transaction_Type']
features_raw = required_train_df.drop('Transaction_Type', axis = 1)
test_raw = required_test_df

In [24]:
# Import sklearn.preprocessing.StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Initialize a scaler, then apply it to the features
scaler = MinMaxScaler()
numerical = ['AUM_investor','Counts_investor','Shares_investor','AUM_advisor','Shares_advisor','1 Yr % Rank','3 Yr % Rank','1 Yr Return','3 Yr Return','1 Yr Excess Return vs Primary Ix','3 Yr Excess Return vs Primary Ix','1 Yr Excess Return vs Category Ix','3 Yr Excess Return vs Category Ix','Net Flows']
features_raw[numerical] = scaler.fit_transform(required_train_df[numerical])

test_raw[numerical] = scaler.fit_transform(required_test_df[numerical])
# Show an example of a record with scaling applied
display(features_raw.head(n = 5))

,AUM_investor,Counts_investor,Shares_investor,AUM_advisor,Shares_advisor,Rating,1 Yr % Rank,3 Yr % Rank,1 Yr Return,3 Yr Return,1 Yr Excess Return vs Primary Ix,3 Yr Excess Return vs Primary Ix,1 Yr Excess Return vs Category Ix,3 Yr Excess Return vs Category Ix,Net Flows
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.470239,0.588980,0.633898,0.690192,0.544173,0.511896,0.241232
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.470239,0.588980,0.633898,0.690192,0.544173,0.511896,0.241232
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.470239,0.588980,0.633898,0.690192,0.544173,0.511896,0.241232
3,0.002258,0.002099,0.028302,0.004533,0.004006,1.0,1.0,0.989899,0.094676,0.655548,0.151229,0.065839,0.230261,0.101670,0.150576
4,0.002258,0.002099,0.028302,0.004533,0.004006,1.0,1.0,0.989899,0.094676,0.655548,0.151229,0.065839,0.230261,0.101670,0.150576

In [ ]:
# Produce a scatter matrix for each pair of features in the data

pd.scatter_matrix(features_raw, alpha = 0.3, figsize = (14,8), diagonal = 'kde');

In [25]:
# TODO: One-hot encode the 'features_raw' data using pandas.get_dummies()
features_raw.Rating = features_raw.Rating.astype(str)
test_raw.Rating = test_raw.Rating.astype(str)

features = pd.get_dummies(features_raw)
test = pd.get_dummies(test_raw)

# TODO: Encode the 'income_raw' data to numerical values
transaction_type = transaction_type.replace(['P','R'],[0,1])

# Print the number of features after one-hot encoding
encoded_train = list(features.columns)
encoded_test = list(test.columns)
print ("{} total features after one-hot encoding.".format(len(encoded_train)))
print ("{} total test features after one-hot encoding.".format(len(encoded_test)))


#Uncomment the following line to see the encoded feature names
#print (encoded)

20 total features after one-hot encoding.
20 total test features after one-hot encoding.

NameError: name 'encoded' is not defined

In [26]:
# Import train_test_split
from sklearn.cross_validation import train_test_split

# Split the 'features' and 'transaction_type' data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, transaction_type, test_size = 0.2, random_state = 0)

# Show the results of the split
print ("Training set has {} samples.".format(X_train.shape[0]))
print ("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 130977 samples.
Testing set has 32745 samples.

/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [27]:
# TODO: Import two metrics from sklearn - fbeta_score and accuracy_score
from sklearn.metrics import fbeta_score, accuracy_score
# time.time() return time in seconds since the Epoch
from time import time

beta = 0.5

def train_predict(learner, sample_size, X_train, y_train, X_test, y_test): 
    '''
    inputs:
       - learner: the learning algorithm to be trained and predicted on
       - sample_size: the size of samples (number) to be drawn from training set
       - X_train: features training set
       - y_train: income training set
       - X_test: features testing set
       - y_test: income testing set
    '''
    
    results = {}
    
    # TODO: Fit the learner to the training data using slicing with 'sample_size'
    X_train = X_train[:sample_size]
    y_train = y_train[:sample_size]
    
    start = time() # Get start time
    learner.fit(X_train, y_train)
    end = time() # Get end time
    
    # TODO: Calculate the training time
    results['train_time'] = end - start
        
    # TODO: Get the predictions on the test set,
    #       then get predictions on the first 300 training samples
    start = time() # Get start time
    predictions_test = learner.predict(X_test)
    predictions_train = learner.predict(X_train)
    end = time() # Get end time
    
    # TODO: Calculate the total prediction time
    results['pred_time'] = end-start
            
    # TODO: Compute accuracy on the first 300 training samples
    results['acc_train'] = accuracy_score(y_train, predictions_train)
        
    # TODO: Compute accuracy on test set
    results['acc_test'] = accuracy_score(y_test, predictions_test)
    
    # TODO: Compute F-score on the the first 300 training samples
    results['f_train'] = fbeta_score(y_train, predictions_train, beta=beta)
        
   # TODO: Compute F-score on the test set
    results['f_test'] = fbeta_score(y_test, predictions_test, beta=beta)
       
    # Success
    print ("{} trained on {} samples.".format(learner.__class__.__name__, sample_size))
        
    # Return the results
    return results

In [28]:
# TODO: Import the three supervised learning models from sklearn
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.svm import LinearSVC, SVC
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

# TODO: Initialize the three models
clf_A = LogisticRegression(random_state=101)
clf_B = LinearSVC(random_state=101)
clf_C = GaussianNB()
clf_Ada = AdaBoostClassifier()
clf_Grad = GradientBoostingClassifier()
clf_KNN = KNeighborsClassifier()
clf_Dec = DecisionTreeClassifier()
clf_SGD = SGDClassifier()

# TODO: Calculate the number of samples for 1%, 10%, and 100% of the training data
n_train = len(y_train)
samples_1 = int(n_train * 0.01)
samples_10 = int(n_train * 0.1)
samples_100 = n_train

# Collect results on the learners
results = {}
for clf in [clf_A, clf_B, clf_C, clf_Ada, clf_Grad,clf_KNN ,clf_Dec, clf_SGD]:
    clf_name = clf.__class__.__name__
    results[clf_name] = {}
    for i, samples in enumerate([samples_1, samples_10, samples_100]):
        results[clf_name][i] = \
        train_predict(clf, samples, X_train, y_train, X_test, y_test)

LogisticRegression trained on 1309 samples.
LogisticRegression trained on 13097 samples.
LogisticRegression trained on 130977 samples.
LinearSVC trained on 1309 samples.
LinearSVC trained on 13097 samples.
LinearSVC trained on 130977 samples.
GaussianNB trained on 1309 samples.
GaussianNB trained on 13097 samples.
GaussianNB trained on 130977 samples.
AdaBoostClassifier trained on 1309 samples.
AdaBoostClassifier trained on 13097 samples.
AdaBoostClassifier trained on 130977 samples.
GradientBoostingClassifier trained on 1309 samples.
GradientBoostingClassifier trained on 13097 samples.
GradientBoostingClassifier trained on 130977 samples.
KNeighborsClassifier trained on 1309 samples.
KNeighborsClassifier trained on 13097 samples.
KNeighborsClassifier trained on 130977 samples.
DecisionTreeClassifier trained on 1309 samples.
DecisionTreeClassifier trained on 13097 samples.
DecisionTreeClassifier trained on 130977 samples.
SGDClassifier trained on 1309 samples.
SGDClassifier trained on 13097 samples.

/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/metrics/classification.py:1113: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

SGDClassifier trained on 130977 samples.

In [29]:
display(results)

# Run metrics visualization for the three supervised learning models chosen
#vs.evaluate(results, accuracy, fscore)

{'AdaBoostClassifier': {0: {'acc_test': 0.64309054817529399,
   'acc_train': 0.69442322383498856,
   'f_test': 0.69009822403016174,
   'f_train': 0.73468391505979991,
   'pred_time': 0.22156953811645508,
   'train_time': 0.12124085426330566},
  1: {'acc_test': 0.65738280653534886,
   'acc_train': 0.65839505230205386,
   'f_test': 0.70308239238895509,
   'f_train': 0.70553625320179558,
   'pred_time': 0.2965843677520752,
   'train_time': 0.5187268257141113},
  2: {'acc_test': 0.65781035272560695,
   'acc_train': 0.65746657810149878,
   'f_test': 0.70268891423083846,
   'f_train': 0.70230032415604826,
   'pred_time': 1.0294520854949951,
   'train_time': 4.534843444824219}},
 'DecisionTreeClassifier': {0: {'acc_test': 0.57660711559016642,
   'acc_train': 0.9327731092436975,
   'f_test': 0.63649251124853623,
   'f_train': 0.93789768388903016,
   'pred_time': 0.005651950836181641,
   'train_time': 0.008510589599609375},
  1: {'acc_test': 0.60192395785616126,
   'acc_train': 0.87905627242880047,
   'f_test': 0.65777042985356626,
   'f_train': 0.89417427987266762,
   'pred_time': 0.01095890998840332,
   'train_time': 0.10079765319824219},
  2: {'acc_test': 0.63551687280500835,
   'acc_train': 0.77303648732220165,
   'f_test': 0.68592464980824064,
   'f_train': 0.80046546281290076,
   'pred_time': 0.051673173904418945,
   'train_time': 0.9381649494171143}},
 'GaussianNB': {0: {'acc_test': 0.64388456252863036,
   'acc_train': 0.65928189457601227,
   'f_test': 0.69081103629104346,
   'f_train': 0.70693457485910316,
   'pred_time': 0.010977029800415039,
   'train_time': 0.0016515254974365234},
  1: {'acc_test': 0.6467857688196671,
   'acc_train': 0.64472780025960141,
   'f_test': 0.692693847762195,
   'f_train': 0.69284524135186898,
   'pred_time': 0.013914823532104492,
   'train_time': 0.006176471710205078},
  2: {'acc_test': 0.64580852038479153,
   'acc_train': 0.64292967467570639,
   'f_test': 0.69330607970678859,
   'f_train': 0.69066992855749976,
   'pred_time': 0.056822776794433594,
   'train_time': 0.049666643142700195}},
 'GradientBoostingClassifier': {0: {'acc_test': 0.63646358222629407,
   'acc_train': 0.75324675324675328,
   'f_test': 0.68527791687531314,
   'f_train': 0.78090842846733066,
   'pred_time': 0.05220794677734375,
   'train_time': 0.16991901397705078},
  1: {'acc_test': 0.66703313482974502,
   'acc_train': 0.68313354203252652,
   'f_test': 0.70050684955783582,
   'f_train': 0.71357141269806001,
   'pred_time': 0.06988358497619629,
   'train_time': 1.1463232040405273},
  2: {'acc_test': 0.67054512139257905,
   'acc_train': 0.67103384563702029,
   'f_test': 0.70210605556625405,
   'f_train': 0.70187184788911128,
   'pred_time': 0.24795794486999512,
   'train_time': 12.449655294418335}},
 'KNeighborsClassifier': {0: {'acc_test': 0.61487249961826229,
   'acc_train': 0.71810542398777688,
   'f_test': 0.66870925952581683,
   'f_train': 0.75761389378303545,
   'pred_time': 0.5021297931671143,
   'train_time': 0.004217863082885742},
  1: {'acc_test': 0.63264620552756146,
   'acc_train': 0.72619683897075671,
   'f_test': 0.67785620333833529,
   'f_train': 0.75043589445542247,
   'pred_time': 3.0008766651153564,
   'train_time': 0.05729961395263672},
  2: {'acc_test': 0.64205222171323861,
   'acc_train': 0.71596539850508101,
   'f_test': 0.68623187035531275,
   'f_train': 0.74192973278565855,
   'pred_time': 36.2928421497345,
   'train_time': 6.183934211730957}},
 'LinearSVC': {0: {'acc_test': 0.64941212398839521,
   'acc_train': 0.66462948815889988,
   'f_test': 0.69307930523764638,
   'f_train': 0.70804814727401466,
   'pred_time': 0.0025658607482910156,
   'train_time': 0.022196292877197266},
  1: {'acc_test': 0.65087799664070856,
   'acc_train': 0.65075971596548832,
   'f_test': 0.69355821793870598,
   'f_train': 0.69515382586384677,
   'pred_time': 0.0031080245971679688,
   'train_time': 0.22146916389465332},
  2: {'acc_test': 0.65066422354557951,
   'acc_train': 0.64812906082747357,
   'f_test': 0.69337853021271723,
   'f_train': 0.69119743193551086,
   'pred_time': 0.012574195861816406,
   'train_time': 4.540881395339966}},
 'LogisticRegression': {0: {'acc_test': 0.64916781187967632,
   'acc_train': 0.66386554621848737,
   'f_test': 0.69199521649171436,
   'f_train': 0.7060051008578716,
   'pred_time': 0.0029201507568359375,
   'train_time': 0.004935503005981445},
  1: {'acc_test': 0.65017559932814173,
   'acc_train': 0.65037794914865998,
   'f_test': 0.69299247833952193,
   'f_train': 0.69487419347101298,
   'pred_time': 0.002895355224609375,
   'train_time': 0.07347917556762695},
  2: {'acc_test': 0.65051152847763016,
   'acc_train': 0.64822067996671173,
   'f_test': 0.69336626676076218,
   'f_train': 0.69135068106101139,
   'pred_time': 0.01148223876953125,
   'train_time': 1.1504616737365723}},
 'SGDClassifier': {0: {'acc_test': 0.4172545426782715,
   'acc_train': 0.40947288006111537,
   'f_test': 0.0,
   'f_train': 0.0,
   'pred_time': 0.002162933349609375,
   'train_time': 0.0027246475219726562},
  1: {'acc_test': 0.64501450603145516,
   'acc_train': 0.64762922806749634,
   'f_test': 0.69444157347499846,
   'f_train': 0.69871276012428529,
   'pred_time': 0.0022766590118408203,
   'train_time': 0.008872509002685547},
  2: {'acc_test': 0.64987020919224314,
   'acc_train': 0.64639593211021784,
   'f_test': 0.69182803373213375,
   'f_train': 0.68895967785767787,
   'pred_time': 0.018346548080444336,
   'train_time': 0.11744046211242676}}}

In [96]:
# TODO: Import 'GridSearchCV', 'make_scorer', and any other necessary libraries
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import make_scorer

# TODO: Initialize the classifier
clf = LogisticRegression()

# TODO: Create the parameters list you wish to tune
parameters = {'solver': ['newton-cg', 'lbfgs', 'sag'],
              'C': [0.01, 0.1, 1.0, 10.0, 100.0, 1000.0],
              'random_state': [None, 101, 20160101]}

# TODO: Make an fbeta_score scoring object
scorer = make_scorer(fbeta_score, beta=beta)

# TODO: Perform grid search on the classifier using 'scorer' as the scoring method
grid_obj = GridSearchCV(clf, parameters, scoring=scorer)

# TODO: Fit the grid search object to the training data and find the optimal parameters
grid_fit = grid_obj.fit(X_train, y_train)

# Get the estimator
best_clf = grid_fit.best_estimator_

# Make predictions using the unoptimized and model
predictions = (clf.fit(X_train, y_train)).predict(X_test)
best_predictions = best_clf.predict(X_test)

# Report the before-and-afterscores
print ("Unoptimized model\n------")
print ("Accuracy score on testing data: {:.4f}".format(accuracy_score(y_test, predictions)))
print ("F-score on testing data: {:.4f}".format(fbeta_score(y_test, predictions, beta = 0.5)))
print ("\nOptimized Model\n------")
print ("Final accuracy score on the testing data: {:.4f}".format(accuracy_score(y_test, best_predictions)))
print ("Final F-score on the testing data: {:.4f}".format(fbeta_score(y_test, best_predictions, beta = 0.5)))

# show best parameters
print ("\nBest Classifier\n------")
print (best_clf)

/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/linear_model/sag.py:286: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Unoptimized model
------
Accuracy score on testing data: 0.6670
F-score on testing data: 0.7099

Optimized Model
------
Final accuracy score on the testing data: 0.6666
Final F-score on the testing data: 0.7096

Best Classifier
------
LogisticRegression(C=100.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='lbfgs', tol=0.0001,
          verbose=0, warm_start=False)

In [115]:
from sklearn.externals import joblib

best_clf= clf_A
filename = 'logistic_regression_model_invesco.joblib.pkl'

_ = joblib.dump(best_clf, filename, compress=9)

In [116]:
print(best_clf)

clf_loaded = joblib.load(filename)

print(clf_loaded)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=101, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=101, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [139]:
pred = clf_loaded.predict(test)
pred_prob = clf_loaded.predict_proba(test)

In [149]:
pred_prob[:,1]

array([ 0.78331917,  0.69380115,  0.68225371, ...,  0.88846935,
        0.78268406,  0.75147528])

In [150]:
pred_prob = pd.DataFrame(pred_prob[:,1],columns=["Propensity_Score"])
pred_prob.head()

   Propensity_Score
0          0.783319
1          0.693801
2          0.682254
3          0.664828
4          0.678845

In [138]:
pred_df= pd.DataFrame(pred,columns=["Redeem_Status"])

pred_df=pred_df.replace([0,1],['NO','YES'])
pred_df.head()

  Redeem_Status
0           YES
1           YES
2           YES
3           YES
4           YES

In [151]:
result = pd.concat([test_df, pred_prob, pred_df], axis=1)

result.head()

   Unique_Advisor_Id  Unique_Investment_Id  Propensity_Score Redeem_Status
0            1000103                 14147          0.783319           YES
1            1000103                  3534          0.693801           YES
2            1000103                  3651          0.682254           YES
3            1000103                  7668          0.664828           YES
4            1000103                  9339          0.678845           YES

In [153]:
result.to_csv('test_data.csv',index=False)