In [1]:
import pandas as pd
import os
from time import time
from IPython.display import display # Allows the use of display() for DataFrames
import numpy as np
from sklearn.preprocessing import MinMaxScaler
# Import supplementary visualization code visuals.py
#import visuals as vs

# Pretty display for notebooks
%matplotlib inline

### Setting files and directories

In [2]:
path_to_data= "/home/ubuntu/udacity/CodeGladiator/invesco/data"

transaction_file = "Code-Gladiators-Transaction.csv"

####### adding new transaction fiel which have grouping of all the transactions
#grouped_transaction_amounts = "grouped_transaction_amounts.csv"
#investment_exp_file = "Code-Gladiators-InvestmentExperience.csv"
investment_exp_file = "imputed_investment_exp.csv"
investment_segment = "investment_vehicle_segment.csv"
aum_file = "Code-Gladiators-AUM.csv"
#activity_file = "Code-Gladiators-Activity.csv"
activity_file = "grouped_processed_activity.csv"
test_file = "test_data.csv"

### reading csv files into pandas dataframe

In [5]:
transaction_df = pd.read_csv(os.path.join(path_to_data, transaction_file))
#grouped_transaction_amounts_df = pd.read_csv(os.path.join(path_to_data, grouped_transaction_amounts))
investment_exp_df = pd.read_csv(os.path.join(path_to_data, investment_exp_file))
investment_segment_df = pd.read_csv(os.path.join(path_to_data, investment_segment))
aum_df = pd.read_csv(os.path.join(path_to_data, aum_file))
activity_df = pd.read_csv(os.path.join(path_to_data, activity_file))
test_df = pd.read_csv(os.path.join(path_to_data,test_file))

In [6]:
# TODO: Import two metrics from sklearn - fbeta_score and accuracy_score
from sklearn.metrics import fbeta_score, accuracy_score
# time.time() return time in seconds since the Epoch
from time import time

beta = 0.5

def train_predict(learner, sample_size, X_train, y_train, X_test, y_test): 
    '''
    inputs:
       - learner: the learning algorithm to be trained and predicted on
       - sample_size: the size of samples (number) to be drawn from training set
       - X_train: features training set
       - y_train: income training set
       - X_test: features testing set
       - y_test: income testing set
    '''
    
    results = {}
    
    # TODO: Fit the learner to the training data using slicing with 'sample_size'
    X_train = X_train[:sample_size]
    y_train = y_train[:sample_size]
    
    start = time() # Get start time
    learner.fit(X_train, y_train)
    end = time() # Get end time
    
    # TODO: Calculate the training time
    results['train_time'] = end - start
        
    # TODO: Get the predictions on the test set,
    #       then get predictions on the first 300 training samples
    start = time() # Get start time
    predictions_test = learner.predict(X_test)
    predictions_train = learner.predict(X_train)
    end = time() # Get end time
    
    # TODO: Calculate the total prediction time
    results['pred_time'] = end-start
            
    # TODO: Compute accuracy on the first 300 training samples
    results['acc_train'] = accuracy_score(y_train, predictions_train)
        
    # TODO: Compute accuracy on test set
    results['acc_test'] = accuracy_score(y_test, predictions_test)
    
    # TODO: Compute F-score on the the first 300 training samples
    results['f_train'] = fbeta_score(y_train, predictions_train, beta=beta)
        
   # TODO: Compute F-score on the test set
    results['f_test'] = fbeta_score(y_test, predictions_test, beta=beta)
       
    # Success
    print ("{} trained on {} samples.".format(learner.__class__.__name__, sample_size))
        
    # Return the results
    return results

In [3]:
#column_list= ['AUM_investor_log','Counts_investor','Shares_investor_log','AUM_advisor_log','Shares_advisor_log','Rating','1 Yr % Rank','3 Yr % Rank','1 Yr Return','3 Yr Return','Net Flows','Morningstar_Category_Rating','Transaction_Type']
see_activity= False

column_list= [
    'Transaction_Type',
#    'Shares_investor',
#    'AUM_investor',
     'Counts_investor',
     'Counts_advisor',
#	'Shares_advisor',
#	'AUM_advisor',
#	'Morningstar Category',
#	'Investment',
	'Rating',
	'1 Yr % Rank',
	'3 Yr % Rank',
#	'5 Yr % Rank',
#	'10 Yr % Rank',
	'1 Yr Return',
	'3 Yr Return',
#	'5 Yr Return',
#	'10 Yr Return',
	'1 Yr Excess Return vs Primary Ix',
	'3 Yr Excess Return vs Primary Ix',
#	'5 Yr Excess Return vs Primary Ix',
#	'10 Yr Excess Return vs Primary Ix',
	'1 Yr Excess Return vs Category Ix',
	'3 Yr Excess Return vs Category Ix',
#	'5 Yr Excess Return vs Category Ix',
#	'10 Yr Excess Return vs Category Ix',
	'Net Flows',
	'Morningstar_Category_Rating',
#	'investment_vehicle_segment',
	'AUM_investor_log',
	'Shares_investor_log',
	'AUM_advisor_log',
	'Shares_advisor_log',
	]

if(see_activity):
    column_list.extend(list(activity_df.columns[pd.Series(activity_df.columns).str.startswith('Activity')]))


display(column_list)

['Transaction_Type',
 'Counts_investor',
 'Counts_advisor',
 'Rating',
 '1 Yr % Rank',
 '3 Yr % Rank',
 '1 Yr Return',
 '3 Yr Return',
 '1 Yr Excess Return vs Primary Ix',
 '3 Yr Excess Return vs Primary Ix',
 '1 Yr Excess Return vs Category Ix',
 '3 Yr Excess Return vs Category Ix',
 'Net Flows',
 'Morningstar_Category_Rating',
 'AUM_investor_log',
 'Shares_investor_log',
 'AUM_advisor_log',
 'Shares_advisor_log']

### processing data

Grouping data by unique advisor id and month. Final output will store sums of the assets under managements and shares for each advisor in particular month

In [35]:
transaction_df = pd.read_csv(os.path.join(path_to_data, transaction_file))
investment_exp_df = pd.read_csv(os.path.join(path_to_data, investment_exp_file))
#grouped_transaction_amounts_df = pd.read_csv(os.path.join(path_to_data, grouped_transaction_amounts))
investment_segment_df = pd.read_csv(os.path.join(path_to_data, investment_segment))
aum_df = pd.read_csv(os.path.join(path_to_data, aum_file))
activity_df = pd.read_csv(os.path.join(path_to_data, activity_file))
test_df = pd.read_csv(os.path.join(path_to_data,test_file))




grouped_advisor_aum_df = aum_df.groupby(['Unique_Advisor_Id','Month']).agg({'AUM': 'mean','Shares':'mean','Unique_Investment_Id':'count'}).reset_index().rename(columns={'Unique_Investment_Id':'Counts'})
grouped_investment_aum_df = aum_df.groupby(['Unique_Investment_Id','Month']).agg({'AUM': 'mean','Shares':'mean','Unique_Advisor_Id':'count'}).reset_index().rename(columns={'Unique_Advisor_Id':'Counts'})

grouped_investment_aum_df['Year'],grouped_investment_aum_df['Month']=grouped_investment_aum_df['Month'].str.split(' /', 1).str
grouped_advisor_aum_df['Year'],grouped_advisor_aum_df['Month']=grouped_advisor_aum_df['Month'].str.split(' /', 1).str

transaction_df['Year'],transaction_df['Month']=transaction_df['Month'].str.split(' /', 1).str
investment_exp_df['Year'],investment_exp_df['Month']=investment_exp_df['Month'].str.split(' /', 1).str
aum_df['Year'],aum_df['Month']=aum_df['Month'].str.split(' /', 1).str
activity_df['Year'],activity_df['Month']=activity_df['Month'].str.split(' /', 1).str
#grouped_transaction_amounts_df['Year'],grouped_transaction_amounts_df['Month'] =grouped_transaction_amounts_df['Month'].str.split(' /', 1).str

grouped_investment_aum_df['Mapping_Month']= grouped_investment_aum_df['Month'].astype(int).apply(lambda x : x+1)
grouped_advisor_aum_df['Mapping_Month']= grouped_advisor_aum_df['Month'].astype(int).apply(lambda x : x+1)
investment_exp_df['Mapping_Month']= investment_exp_df['Month'].astype(int).apply(lambda x : x+1)
aum_df['Mapping_Month']= aum_df['Month'].astype(int).apply(lambda x : x+1)
activity_df['Mapping_Month']= activity_df['Month'].astype(int).apply(lambda x : x+1)
#grouped_transaction_amounts_df['Mapping_Month']= grouped_transaction_amounts_df['Month'].astype(int).apply(lambda x : x+1)


transaction_df['Month'] =  transaction_df['Month'].astype(int).apply(lambda x : x+0)

final_transaction = pd.merge(transaction_df, grouped_investment_aum_df, left_on=["Month","Unique_Investment_Id"],right_on=["Mapping_Month","Unique_Investment_Id"], how="left") 
final_transaction = final_transaction.rename(columns={'Month_x': 'Month', 'AUM': 'AUM_investor','Year_x' : 'Year', 'Counts' : 'Counts_investor', 'Shares': 'Shares_investor','Month_y':'Month_actual'})
final_transaction = final_transaction.drop('Year_y', 1)

test_transaction = pd.merge(test_df, grouped_investment_aum_df[grouped_investment_aum_df["Mapping_Month"]== 13], on="Unique_Investment_Id", how="left")
test_transaction = test_transaction.rename(columns={ 'AUM': 'AUM_investor','Counts' : 'Counts_investor', 'Shares': 'Shares_investor'})

final_transaction = pd.merge(final_transaction, grouped_advisor_aum_df, left_on=["Month","Unique_Advisor_Id"],right_on=["Mapping_Month","Unique_Advisor_Id"], how="left") 
final_transaction = final_transaction.rename(columns={'Month_x': 'Month', 'AUM': 'AUM_advisor','Year_x' : 'Year', 'Counts' : 'Counts_advisor', 'Shares': 'Shares_advisor','Mapping_Month_x': 'Mapping_Month'})
final_transaction = final_transaction.drop(['Year_y','Mapping_Month_y','Month_y'], 1)

test_transaction = pd.merge(test_transaction, grouped_advisor_aum_df[grouped_advisor_aum_df["Mapping_Month"]== 13], on="Unique_Advisor_Id", how="left")
test_transaction = test_transaction.rename(columns={ 'AUM': 'AUM_advisor','Counts' : 'Counts_advisor', 'Shares': 'Shares_advisor','Month_x':'Month','Mapping_Month_x':'Mapping_Month'})
test_transaction = test_transaction.drop(['Year_x','Year_y','Mapping_Month_y','Month_y','Mapping_Month'], 1)

investment_exp_df['investment_vehicle_segment']= investment_segment_df['investment_vehicle_segment']
investment_exp_df= investment_exp_df[investment_exp_df['Year']=='2016']
activity_df = activity_df[activity_df['Year']=='2016']

final_transaction_with_exp = pd.merge(final_transaction, investment_exp_df, left_on=["Month","Unique_Investment_Id"],right_on=["Mapping_Month","Unique_Investment_Id"], how="left") 
final_transaction_with_exp = final_transaction_with_exp.rename(columns={'Month_x': 'Month', 'AUM': 'AUM_advisor','Year_x' : 'Year', 'Mapping_Month_x':'Mapping_Month'})
final_transaction_with_exp = final_transaction_with_exp.drop(['Year_y','Mapping_Month_y','Month_y'], 1)
#final_transaction_with_exp = pd.merge(final_transaction_with_exp, grouped_transaction_amounts_df, left_on=["Month","Unique_Investment_Id"],right_on=["Mapping_Month","Unique_Investment_Id"], how="left") 
#final_transaction_with_exp = final_transaction_with_exp.drop(['Year_y','Mapping_Month_y','Month_y'], 1)

test_transaction_with_exp = pd.merge(test_transaction, investment_exp_df[investment_exp_df["Mapping_Month"]== 13 ], on="Unique_Investment_Id", how="left")
#test_transaction_with_exp = pd.merge(test_transaction_with_exp, grouped_transaction_amounts_df[grouped_transaction_amounts_df["Mapping_Month"]== 13 ], on=["Unique_Investment_Id"], how="left")

#display(final_transaction_with_exp.head())
#display(test_transaction_with_exp.head())

##merging with activity
if(see_activity):
    final_transaction_with_exp = pd.merge(final_transaction_with_exp, activity_df, left_on=["Month","Unique_Advisor_Id"],right_on=["Mapping_Month","Unique_Advisor_Id"], how="left") 
    test_transaction_with_exp = pd.merge(test_transaction_with_exp, activity_df[activity_df["Mapping_Month"]== 13 ], on="Unique_Advisor_Id", how="left")


final_transaction_with_exp['AUM_investor_log'] = (np.log(final_transaction_with_exp['AUM_investor'])).where(final_transaction_with_exp['AUM_investor']!=0)
final_transaction_with_exp['Shares_investor_log'] = (np.log(final_transaction_with_exp['Shares_investor'])).where(final_transaction_with_exp['Shares_investor']!=0)

final_transaction_with_exp['AUM_advisor_log'] = (np.log(final_transaction_with_exp['AUM_advisor'])).where(final_transaction_with_exp['AUM_advisor']!=0)
final_transaction_with_exp['Shares_advisor_log'] = (np.log(final_transaction_with_exp['Shares_advisor'])).where(final_transaction_with_exp['Shares_advisor']!=0)


test_transaction_with_exp['AUM_investor_log'] = (np.log(test_transaction_with_exp['AUM_investor'])).where(test_transaction_with_exp['AUM_investor']!=0)
test_transaction_with_exp['Shares_investor_log'] = (np.log(test_transaction_with_exp['Shares_investor'])).where(test_transaction_with_exp['Shares_investor']!=0)

test_transaction_with_exp['AUM_advisor_log'] = (np.log(test_transaction_with_exp['AUM_advisor'])).where(test_transaction_with_exp['AUM_advisor']!=0)
test_transaction_with_exp['Shares_advisor_log'] = (np.log(test_transaction_with_exp['Shares_advisor'])).where(test_transaction_with_exp['Shares_advisor']!=0)

final_transaction_with_exp= final_transaction_with_exp[final_transaction_with_exp.Month !=1]

#final_transaction_with_exp= final_transaction_with_exp.dropna()


required_train_df = final_transaction_with_exp.filter(column_list)
required_train_df['Transaction_Type']= required_train_df.apply(lambda x: 0 if x['Transaction_Type']== 'P' else 1, axis=1)

if(see_activity):
    required_train_df[required_train_df.columns[pd.Series(required_train_df.columns).str.startswith('Activity')]] = required_train_df[required_train_df.columns[pd.Series(required_train_df.columns).str.startswith('Activity')]].fillna(0)

required_test_df = test_transaction_with_exp.filter(column_list)

if(see_activity):
    required_test_df[required_test_df.columns[pd.Series(required_test_df.columns).str.startswith('Activity')]] = required_test_df[required_test_df.columns[pd.Series(required_test_df.columns).str.startswith('Activity')]].fillna(0)
    
required_train_df_meanNa= required_train_df.fillna(required_train_df.median())
required_test_df_meanNa = required_test_df.fillna(required_test_df.median())
required_train_df_na = required_train_df_meanNa[required_train_df.isnull().any(axis=1)]
required_test_df_na = required_test_df_meanNa[required_test_df.isnull().any(axis=1)]

required_train_df_noNa= required_train_df_meanNa[required_train_df.isnull().any(axis=1)== False]
required_test_df_noNa = required_test_df_meanNa[required_test_df.isnull().any(axis=1)== False]

test_df_na = test_df[required_test_df.isnull().any(axis=1)]
test_df_noNa = test_df[required_test_df.isnull().any(axis=1)== False]



# Split the data into features and target label
transaction_type_na = required_train_df_na['Transaction_Type']
transaction_type_noNa = required_train_df_noNa['Transaction_Type']

features_raw_na = required_train_df_na.drop('Transaction_Type', axis = 1)
test_raw_na = required_test_df_na
features_raw_noNa = required_train_df_noNa.drop('Transaction_Type', axis = 1)
test_raw_noNa = required_test_df_noNa


from sklearn.preprocessing import LabelEncoder
var_mod = column_list
#var_mod.remove('Transaction_Type')
le = LabelEncoder()
for i in var_mod:
    if i == 'Transaction_Type' \
    or i == 'Net Flows' \
    or i == 'AUM_investor_log' \
    or i == 'Shares_investor_log' \
    or i == 'AUM_advisor_log' \
    or i == 'Shares_advisor_log':
        continue
    features_raw_na[i] = le.fit_transform(features_raw_na[i])
    test_raw_na[i] = le.fit_transform(test_raw_na[i])
    features_raw_noNa[i] = le.fit_transform(features_raw_noNa[i])
    test_raw_noNa[i] = le.fit_transform(test_raw_noNa[i])
    
###########################################################3


from sklearn.cross_validation import train_test_split

# Split the 'features' and 'transaction_type' data into training and testing sets
X_train_na, X_test_na, y_train_na, y_test_na = train_test_split(features_raw_na, transaction_type_na, test_size = 0.2, random_state = 0)
X_train_noNa, X_test_noNa, y_train_noNa, y_test_noNa = train_test_split(features_raw_noNa, transaction_type_noNa, test_size = 0.2, random_state = 0)


# Show the results of the split
print ("Training na set has {} samples.".format(X_train_na.shape[0]))
print ("Testing na set has {} samples.".format(X_test_na.shape[0]))

print ("Training noNa set has {} samples.".format(X_train_noNa.shape[0]))
print ("Testing noNa set has {} samples.".format(X_test_noNa.shape[0]))

#############################################################################


# TODO: Import the three supervised learning models from sklearn
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.svm import LinearSVC, SVC
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier,RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

# TODO: Initialize the three models
clf_A_na = LogisticRegression(C=10.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='newton-cg', tol=0.0001,
          verbose=0, warm_start=False)
clf_A_noNa = LogisticRegression(C=10.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='newton-cg', tol=0.0001,
          verbose=0, warm_start=False)
clf_B = LinearSVC(random_state=101)
clf_C = GaussianNB()
clf_Ada = AdaBoostClassifier()
clf_Grad = GradientBoostingClassifier()
clf_KNN = KNeighborsClassifier()
clf_Dec = DecisionTreeClassifier()
clf_SGD = SGDClassifier()
clf_Ran = RandomForestClassifier(n_estimators = 100)


# TODO: Calculate the number of samples for 1%, 10%, and 100% of the training data
n_train = len(y_train_na)
samples_1 = int(n_train * 0.01)
samples_10 = int(n_train * 0.1)
samples_100 = n_train

# Collect results on the learners
results_na = {}
#for clf in [clf_A, clf_B, clf_C, clf_Ada, clf_Grad,clf_KNN ,clf_Dec, clf_SGD]:
for clf in [clf_A_na]:
    clf_name = clf.__class__.__name__
    results_na[clf_name] = {}
    for i, samples in enumerate([samples_100]):
        results_na[clf_name][i] = \
        train_predict(clf, samples, X_train_na, y_train_na, X_test_na, y_test_na)
        
display(results_na)

n_train = len(y_train_noNa)
samples_1 = int(n_train * 0.01)
samples_10 = int(n_train * 0.1)
samples_100 = n_train
# Collect results on the learners
results_noNa = {}
#for clf in [clf_A, clf_B, clf_C, clf_Ada, clf_Grad,clf_KNN ,clf_Dec, clf_SGD]:
for clf in [clf_A_noNa]:
    clf_name = clf.__class__.__name__
    results_noNa[clf_name] = {}
    for i, samples in enumerate([samples_100]):
        results_noNa[clf_name][i] = \
        train_predict(clf, samples, X_train_noNa, y_train_noNa, X_test_noNa, y_test_noNa)
        
display(results_noNa)


from sklearn.externals import joblib
for best_clf in [clf_A_na,clf_A_noNa]:
    if best_clf == clf_A_na:
        filename = 'logistic_regression_NA_invesco.joblib.pkl'
        test_raw= test_raw_na
    else:
        filename = 'logistic_regression_noNA_invesco.joblib.pkl'
        test_raw= test_raw_noNa

    _ = joblib.dump(best_clf, filename, compress=9)

    clf_loaded = joblib.load(filename)
    print("file loaded")

    pred = clf_loaded.predict(test_raw)
    pred_prob = clf_loaded.predict_proba(test_raw)

    pred_prob = pd.DataFrame(pred_prob[:,1],columns=["Propensity_Score"])
    display(pred_prob[:5])

    pred_df= pd.DataFrame(pred,columns=["Redeem_Status"])

    pred_df=pred_df.replace([0,1],['NO','YES'])
    pred_df.head()

    display(pred_df['Redeem_Status'].value_counts())
    
    if best_clf == clf_A_na:
        result_na = pd.concat([test_df_na.reset_index(drop=True), pred_prob.reset_index(drop=True), pred_df.reset_index(drop=True)],ignore_index=True, axis=1)
        
    else:
        result_noNa = pd.concat([test_df_noNa.reset_index(drop=True), pred_prob.reset_index(drop=True), pred_df.reset_index(drop=True)],ignore_index=True ,axis=1)
    
display(result_na)
display(result_noNa)

/home/ubuntu/.local/lib/python3.5/site-packages/ipykernel/__main__.py:101: RuntimeWarning: divide by zero encountered in log
/home/ubuntu/.local/lib/python3.5/site-packages/ipykernel/__main__.py:103: RuntimeWarning: divide by zero encountered in log
/home/ubuntu/.local/lib/python3.5/site-packages/ipykernel/__main__.py:104: RuntimeWarning: divide by zero encountered in log
/home/ubuntu/.local/lib/python3.5/site-packages/ipykernel/__main__.py:108: RuntimeWarning: divide by zero encountered in log
/home/ubuntu/.local/lib/python3.5/site-packages/ipykernel/__main__.py:111: RuntimeWarning: divide by zero encountered in log
/home/ubuntu/.local/lib/python3.5/site-packages/ipykernel/__main__.py:159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ubuntu/.local/lib/python3.5/site-packages/ipykernel/__main__.py:161: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Training na set has 19409 samples.
Testing na set has 4853 samples.
Training noNa set has 99782 samples.
Testing noNa set has 24946 samples.

/home/ubuntu/.local/lib/python3.5/site-packages/scipy/optimize/linesearch.py:414: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/home/ubuntu/.local/lib/python3.5/site-packages/scipy/optimize/linesearch.py:285: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)

LogisticRegression trained on 19409 samples.

/home/ubuntu/.local/lib/python3.5/site-packages/sklearn/utils/optimize.py:195: UserWarning: Line Search failed
  warnings.warn('Line Search failed')

{'LogisticRegression': {0: {'acc_test': 0.66412528332989906,
   'acc_train': 0.66608274511824417,
   'f_test': 0.55827039834147785,
   'f_train': 0.56646985149400608,
   'pred_time': 0.0016307830810546875,
   'train_time': 1.701338768005371}}}

LogisticRegression trained on 99782 samples.

{'LogisticRegression': {0: {'acc_test': 0.66663994227531465,
   'acc_train': 0.6646088472870858,
   'f_test': 0.71371801850843752,
   'f_train': 0.71323617282475271,
   'pred_time': 0.006978034973144531,
   'train_time': 19.572337865829468}}}

file loaded

   Propensity_Score
0          0.835213
1          0.026404
2          0.067945
3          0.156935
4          0.067945

NO     1279
YES     222
Name: Redeem_Status, dtype: int64

file loaded

   Propensity_Score
0          0.943226
1          0.613030
2          0.266147
3          0.646299
4          0.565217

YES    6911
NO      302
Name: Redeem_Status, dtype: int64

            0      1         2    3
0     1000332  14146  0.835213  YES
1     1000332  18654  0.026404   NO
2     1000332   3460  0.067945   NO
3     1000533   5538  0.156935   NO
4     1003125   3460  0.067945   NO
5     1009195  15354  0.150220   NO
6     1009195   3533  0.001642   NO
7     1009570  18381  0.167886   NO
8     1009570   5841  0.167886   NO
9     1014856   9320  0.000386   NO
10    1015449   9329  0.743840  YES
11    1015468  14146  0.835213  YES
12    1015468  18654  0.026404   NO
13    1015468   3460  0.067945   NO
14    1015468   5875  0.374707   NO
15    1015468   9340  0.009530   NO
16    1016488  11537  0.485643   NO
17    1016488   3460  0.067945   NO
18    1016488   3588  0.196698   NO
19    1017614  11659  0.046457   NO
20    1018470  20092  0.058545   NO
21    1018477   3482  0.020672   NO
22    1018489  11659  0.058647   NO
23    1018491  15241  0.161130   NO
24    1018491   3840  0.161130   NO
25    1018491   3842  0.161130   NO
26    1018493   4063  0.412036   NO
27    1018506   3532  0.049138   NO
28    1018506   3539  0.478516   NO
29    1018509  12488  0.844427  YES
...       ...    ...       ...  ...
1471   991595  20088  0.150020   NO
1472   991613  18178  0.108808   NO
1473   991613   6460  0.108808   NO
1474   991613   6461  0.108808   NO
1475   991613   6807  0.108808   NO
1476   991613   9738  0.108808   NO
1477   991628   3658  0.091058   NO
1478   991639  11659  0.046215   NO
1479   991639  14913  0.019494   NO
1480   992371  20053  0.005557   NO
1481   992371  20054  0.000201   NO
1482   992371   3532  0.049138   NO
1483   992371   4368  0.022206   NO
1484   992371   9281  0.063765   NO
1485   992381  15356  0.035681   NO
1486   992563  11659  0.054697   NO
1487   992563  17555  0.032884   NO
1488   992978   4713  0.016798   NO
1489   993727  11659  0.044908   NO
1490   993727  14913  0.018928   NO
1491   994660   3656  0.722586  YES
1492   994927  20092  0.040774   NO
1493   997399   3460  0.067945   NO
1494   997423  17555  0.030164   NO
1495   999483  14691  0.144618   NO
1496   999483   3840  0.144618   NO
1497   999483   3841  0.144618   NO
1498   999483   5248  0.144618   NO
1499   999483   5839  0.144618   NO
1500   999483   5841  0.144618   NO

[1501 rows x 4 columns]

            0      1         2    3
0     1000103  14147  0.943226  YES
1     1000103   3534  0.613030  YES
2     1000103   3651  0.266147   NO
3     1000103   7668  0.646299  YES
4     1000103   9339  0.565217  YES
5     1000373   4008  0.876855  YES
6     1000541   4008  0.875005  YES
7     1001726  11540  0.908851  YES
8     1001726   3532  0.904557  YES
9     1001726   3538  0.877992  YES
10    1001726   4008  0.878345  YES
11    1002143   4811  0.739897  YES
12    1002143   9329  0.689258  YES
13    1002831  19232  0.682135  YES
14    1002831   3459  0.439293   NO
15    1002920  19245  0.673582  YES
16    1002920   3476  0.863054  YES
17    1003233   3532  0.910756  YES
18    1003233   4008  0.886032  YES
19    1003233   8844  0.875742  YES
20    1003335  14147  0.947633  YES
21    1003335   3460  0.765424  YES
22    1003335   3532  0.910996  YES
23    1003692  19229  0.858074  YES
24    1003692  19230  0.908765  YES
25    1003692  20037  0.853107  YES
26    1003692   3532  0.909949  YES
27    1003692   3566  0.659048  YES
28    1003692   9327  0.781646  YES
29    1004283   3476  0.865401  YES
...       ...    ...       ...  ...
7183   997482   4016  0.558624  YES
7184   997482   8844  0.890516  YES
7185   998229   3532  0.900735  YES
7186   998229   4008  0.873620  YES
7187   998229   4711  0.826977  YES
7188   998342  19227  0.895079  YES
7189   998342   3532  0.909679  YES
7190   998342   3535  0.914231  YES
7191   998342   4008  0.884694  YES
7192   998404  11537  0.823587  YES
7193   998404  20037  0.839588  YES
7194   998404   3566  0.635305  YES
7195   998404   9327  0.763375  YES
7196   998675  14147  0.947072  YES
7197   998675  19230  0.908898  YES
7198   998675  20037  0.853307  YES
7199   998675   3495  0.916903  YES
7200   998675   3532  0.910080  YES
7201   998675   3656  0.701452  YES
7202   999483  14147  0.947578  YES
7203   999483  18652  0.592788  YES
7204   999483  19230  0.909733  YES
7205   999483   4008  0.886218  YES
7206   999483   4026  0.802152  YES
7207   999483   4368  0.502227  YES
7208   999483   4886  0.592130  YES
7209   999483   7668  0.665333  YES
7210   999586   4008  0.876370  YES
7211   999754  14147  0.946036  YES
7212   999754  19936  0.834499  YES

[7213 rows x 4 columns]

In [14]:
result_na.shape

(1501, 4)

In [34]:
print(required_test_df_na.shape)
print(required_test_df_meanNa.shape)
print(required_test_df_noNa.shape)

(1501, 17)
(8714, 17)
(7213, 17)

In [36]:
na_index_list= test_df[required_test_df.isnull().any(axis=1)].index.tolist()
noNa_index_list = test_df[required_test_df.isnull().any(axis=1)== False].index.tolist()
result_na = result_na.set_index([na_index_list]) 
result_noNa = result_noNa.set_index([noNa_index_list])



display(result_na.head())
display(result_noNa.head())

          0      1         2    3
5   1000332  14146  0.835213  YES
6   1000332  18654  0.026404   NO
7   1000332   3460  0.067945   NO
9   1000533   5538  0.156935   NO
21  1003125   3460  0.067945   NO

         0      1         2    3
0  1000103  14147  0.943226  YES
1  1000103   3534  0.613030  YES
2  1000103   3651  0.266147   NO
3  1000103   7668  0.646299  YES
4  1000103   9339  0.565217  YES

In [38]:
final_test= pd.concat([result_na,result_noNa]).sort_index()
final_test.head(10)

         0      1         2    3
0  1000103  14147  0.943226  YES
1  1000103   3534  0.613030  YES
2  1000103   3651  0.266147   NO
3  1000103   7668  0.646299  YES
4  1000103   9339  0.565217  YES
5  1000332  14146  0.835213  YES
6  1000332  18654  0.026404   NO
7  1000332   3460  0.067945   NO
8  1000373   4008  0.876855  YES
9  1000533   5538  0.156935   NO

In [39]:
final_test.columns = ['Unique_Advisor_Id','Unique_Investment_Id','Propensity_Score','Redeem_Status']
final_test.head(10)

   Unique_Advisor_Id  Unique_Investment_Id  Propensity_Score Redeem_Status
0            1000103                 14147          0.943226           YES
1            1000103                  3534          0.613030           YES
2            1000103                  3651          0.266147            NO
3            1000103                  7668          0.646299           YES
4            1000103                  9339          0.565217           YES
5            1000332                 14146          0.835213           YES
6            1000332                 18654          0.026404            NO
7            1000332                  3460          0.067945            NO
8            1000373                  4008          0.876855           YES
9            1000533                  5538          0.156935            NO

In [40]:


final_test.to_csv('test_data_v7-sepNAs.csv',index=False)

In [59]:
#result.to_csv('test_data_v5-removednetflows.csv',index=False)